#------------------------------------------------------------------------------
# Overall driver options
#------------------------------------------------------------------------------
Running mode: 		         "retrospective"
Map projection of the LIS domain: "latlon"
Number of nests:                 1
Number of surface model types:    1
Surface model types:            "LSM"
Surface model output interval:  "6hr"
Land surface model:             "NoahMP.3.6"
Number of met forcing sources:   1
Blending method for forcings:    "overlay"
Met forcing sources:             "NLDAS2"
Topographic correction method (met forcing):  "none"
Enable spatial downscaling of precipitation:  0
Spatial interpolation method (met forcing):   "neighbor"
Temporal interpolation method (met forcing):  "linear"
Spatial upscaling method (met forcing):       "average"

#------------------------DOMAIN SPECIFICATION--------------------------

Run domain lower left lat:                  25.0625
Run domain lower left lon:                -124.9375
Run domain upper right lat:                 52.9375
Run domain upper right lon:                -67.0625
Run domain resolution (dx):                  0.125
Run domain resolution (dy):                  0.125

#------------------------------------------------------------------------------
# Runtime options
#------------------------------------------------------------------------------
Forcing variables list file:               ./forcing_variables.txt
Output methodology:                        "2d gridspace"
Output forcing:                            1   #1-yes
Output parameters:                         0   #0- no
Output model restart files:                0
Output data format:                        "netcdf"
Output naming style:                       "4 level hierarchy"
Start mode:                                coldstart
Starting year:                             1985
Starting month:                            6
Starting day:                              1
Starting hour:                             1
Starting minute:                           0
Starting second:                           0
Ending year:                               1985
Ending month:                              6
Ending day:                                2
Ending hour:                               1
Ending minute:                             0
Ending second:                             0
Undefined value:                          -9999
Output directory:                         'OUTPUT' 
Diagnostic output file:                   'lislog'
Number of ensembles per tile:              1

#The following options are used for subgrid tiling based on vegetation
Maximum number of surface type tiles per grid:     1
Minimum cutoff percentage (surface type tiles):    0.10 
Maximum number of soil texture tiles per grid:     1
Minimum cutoff percentage (soil texture tiles):    0.10
Maximum number of soil fraction tiles per grid:    1
Minimum cutoff percentage (soil fraction tiles):   0.10
Maximum number of elevation bands per grid:        1
Minimum cutoff percentage (elevation bands):       0.10
Maximum number of slope bands per grid:            1
Minimum cutoff percentage (slope bands):           0.10
Maximum number of aspect bands per grid:           1
Minimum cutoff percentage (aspect bands):          0.10
Number of processors along x:    2
Number of processors along y:    2
Halo size along x: 0
Halo size along y: 0 

#------------------------ ROUTING -------------------------------------

Routing model:                    "none"

#------------------------RADIATIVE TRANSFER MODELS--------------------------

Radiative transfer model:   "none"

#------------------------APPLICATION MODELS---------------------------------

Number of application models: 0

#------------------------------------------------------------------------------
# Parameters
#------------------------------------------------------------------------------

LIS domain and parameter data file: ./lis_input.d01.nc

Landmask data source:            "LDT"
Landcover data source:           "LDT"
Soil texture data source:        "LDT"
Soil fraction data source:       "none"
Soil color data source:          "none"
Elevation data source:           "none"
Slope data source:               "none"
Aspect data source:              "none"
Curvature data source:           "none"
LAI data source:                 "none"
SAI data source:                 "none"
Albedo data source:              "LDT"
Max snow albedo data source:     "LDT"
Greenness data source:           "LDT"  
Roughness data source:           "none"  
Porosity data source:            "none"
Ksat data source:                "none"
B parameter data source:         "none"
Quartz data source:              "none"
Emissivity data source:          "none"

Use greenness fraction climatology: 0
Use albedo climatology: 0
Albedo climatology interval type: "monthly"

#------------------------------------------------------------------------------
# Forcings
#------------------------------------------------------------------------------
NLDAS2 forcing directory:               ./MET_FORCING/NLDAS2.FORCING
NLDAS2 data center source:              "NCEP"
NLDAS2 use model level data:            0 
NLDAS2 use model based swdown:          0 
NLDAS2 use model based precip:          0 
NLDAS2 use model based pressure:        0

#------------------------------------------------------------------------------
# Land surface models
#------------------------------------------------------------------------------
Noah-MP.3.6 model timestep:               30mn
Noah-MP.3.6 restart output interval:      1da
Noah-MP.3.6 restart file:                 none
Noah-MP.3.6 restart file format:          netcdf
Noah-MP.3.6 vegetation parameter table:   ./LS_PARAMETERS/noahmp36_parms/VEGPARM.TBL
Noah-MP.3.6 soil parameter table:         ./LS_PARAMETERS/noahmp36_parms/SOILPARM.TBL.WRF-3.9
Noah-MP.3.6 landuse parameter table:      ./LS_PARAMETERS/noahmp36_parms/VEGPARM.TBL
Noah-MP.3.6 general parameter table:      ./LS_PARAMETERS/noahmp36_parms/GENPARM.TBL
Noah-MP.3.6 MP parameter table:           ./MPTABLE.new
Noah-MP.3.6 number of soil layers:        4
Noah-MP.3.6 soil layer thickness:         0.1  0.3  0.6  1.0
Noah-MP.3.6 number of snow layers:        3
Noah-MP.3.6 vegetation model option:                    2  # 1=prescribed; 2=dynamic; 3=calculate; 4=maximum
Noah-MP.3.6 canopy stomatal resistance option:          1  # 1=Ball-Berry; 2=Jarvis
Noah-MP.3.6 soil moisture factor for stomatal resistance option:  1  # 1=Noah; 2=CLM; 3=SSiB
Noah-MP.3.6 runoff and groundwater option:              1  # 1=SIMGM; 2=SIMTOP; 3=Schaake96; 4=BATS
Noah-MP.3.6 surface layer drag coefficient option:      1  # 1=M-O; 2=Chen97
Noah-MP.3.6 supercooled liquid water option:            1  # 1=NY06; 2=Koren99
Noah-MP.3.6 frozen soil permeability option:            1  # 1=NY06; 2=Koren99
Noah-MP.3.6 radiation transfer option:                  1  # 1=gap=F(3D;cosz); 2=gap=0; 3=gap=1-Fveg
Noah-MP.3.6 snow surface albedo option:                 2  # 1=BATS; 2=CLASS
Noah-MP.3.6 rainfall and snowfall option:               1  # 1=Jordan91; 2=BATS; 3=Noah
Noah-MP.3.6 lower boundary of soil temperature option:  2  # 1=zero-flux; 2=Noah
Noah-MP.3.6 snow and soil temperature time scheme:      1  # 1=semi-implicit; 2=fully implicit
Noah-MP.3.6 soil color index:             4
Noah-MP.3.6 CZIL option (iz0tlnd):        0
Noah-MP.3.6 initial value of snow albedo at the last timestep:  0.2
Noah-MP.3.6 initial value of snow mass at the last timestep:    0.0
Noah-MP.3.6 initial soil temperatures:                     288.0  288.0  288.0  288.0
Noah-MP.3.6 initial total soil moistures:                    0.20   0.20   0.20   0.20
Noah-MP.3.6 initial liquid soil moistures:                   0.20   0.20   0.20   0.20
Noah-MP.3.6 initial canopy air temperature:                288.0
Noah-MP.3.6 initial canopy air vapor pressure:             261.68518
Noah-MP.3.6 initial wetted or snowed fraction of canopy:     0.0
Noah-MP.3.6 initial intercepted liquid water:                0.0
Noah-MP.3.6 initial intercepted ice mass:                    0.0
Noah-MP.3.6 initial vegetation temperature:                288.0
Noah-MP.3.6 initial ground temperature:                    288.0
Noah-MP.3.6 initial snowfall on the ground:                  0.0
Noah-MP.3.6 initial snow height:                             0.0
Noah-MP.3.6 initial snow water equivalent:                   0.0
Noah-MP.3.6 initial depth to water table:                    2.5
Noah-MP.3.6 initial water storage in aquifer:             4900.0
Noah-MP.3.6 initial water in aquifer and saturated soil:  4900.0
Noah-MP.3.6 initial lake water storage:                      0.0
Noah-MP.3.6 initial leaf mass:                               9.0
Noah-MP.3.6 initial mass of fine roots:                    500.0
Noah-MP.3.6 initial stem mass:                               3.33
Noah-MP.3.6 initial mass of wood including woody roots:    500.0
Noah-MP.3.6 initial stable carbon in deep soil:           1000.0
Noah-MP.3.6 initial short-lived carbon in shallow soil:   1000.0
Noah-MP.3.6 initial LAI:                                     0.5
Noah-MP.3.6 initial SAI:                                     0.1
Noah-MP.3.6 initial momentum drag coefficient:               0.0
Noah-MP.3.6 initial sensible heat exchange coefficient:      0.0
Noah-MP.3.6 initial snow aging term:                         0.0
Noah-MP.3.6 initial soil water content between bottom of the soil and water table:  0.0
Noah-MP.3.6 initial recharge to or from the water table when deep:                  0.0
Noah-MP.3.6 initial recharge to or from the water table when shallow:               0.0
Noah-MP.3.6 initial reference height of temperature and humidity:                   6.0

#------------------------------------------------------------------------------
# Data assimilation
#------------------------------------------------------------------------------
Number of data assimilation instances:               0
Data assimilation algorithm:                         "Direct insertion"
Data assimilation set:                               "SNODEP" 
Number of state variables:                           2
Data assimilation exclude analysis increments:       1
Data assimilation output interval for diagnostics:   "1da"  
Data assimilation number of observation types:       1 
Data assimilation output ensemble members:           0
Data assimilation output processed observations:     0
Data assimilation output innovations:                0

Bias estimation algorithm:                "none"
Bias estimation attributes file:          "none"
Bias estimation restart output frequency:
Bias estimation start mode:
Bias estimation restart file:

#Perturbation options
Perturbations start mode:                 "coldstart"
Perturbations restart output interval:    "1mo"
Perturbations restart filename:           ./LIS_DAPERT_200902282330.d01.bin

Forcing perturbation algorithm:           "none" 
Forcing perturbation frequency:           "1hr"
Forcing attributes file:                  ./forcing_attribs.txt
Forcing perturbation attributes file:     ./forcing_pert_attribs.txt

State perturbation algorithm:             "none"
State perturbation frequency:             "3hr"
State attributes file:                 ./lis_configs/noah_snow_attribs.txt
State perturbation attributes file:       ./config/noah_snow_pertattribs.txt

Observation perturbation algorithm:       "none"
Observation perturbation frequency:       "6hr"
Observation attributes file:           ./lis_configs/SNODEPobs_attribs.txt
Observation perturbation attributes file: ./config/SNODEP_pertattribs.txt

#------------------------------------------------------------------------------
# Model output configuration
#------------------------------------------------------------------------------
Output start year:
Output start month:
Output start day:
Output start hour:
Output start minutes:
Output start seconds:
Output GRIB Table Version: 128
Output GRIB Center Id:     57
Output GRIB Subcenter Id:  2
Output GRIB Process Id:    88
Output GRIB Grid Id:       255
Model output attributes file: './MODEL_OUTPUT_LIST.TBL'      
